<nav aria-label="page-navigation">
  <ul class="pagination">
    <li class="page-item" (click)="onClickPage(activePage - 1)">
      <a class="page-link">Previous</a></li>
    <li class="page-item" [ngClass]="{'active': activePage === item}" *ngFor="let item of pages"
      (click)="onClickPage(item)">
      <a class="page-link">{{item}}</a></li>
    <li class="page-item" (click)="onClickPage(activePage + 1)">
      <a class="page-link">Next</a></li>
  </ul>
</nav>