.pagination{
    list-style-type: none;
    display: inline-flex;
    padding-left:0px;
    .active a{
      color:#143361;
      background-color: transparent;
      font-weight:600;
      &:hover{
        background-color: transparent;
        color:#143361;
        border:0px;
      }
      &:focus{
        background-color:transparent;
        color:#143361;
        outline:none;
      }
    }
    li a{
      border:1px;
      margin-left:0px;
      color:#707070;
      padding:7px 2px;
      margin:0px 20px;
      &:hover{
        background-color:transparent;
        color:#4A90E2;
        padding-bottom: 2px;
        border-bottom: 1px solid;
        //padding: 1px;
        //margin: 5px 25px;
      }
      &:focus{
        outline:none;
        background-color: transparent;
        /*color:#707070;*/
      }
    }
    li:first-child a,li:last-child a{
      border:2px solid #143361 !important;
      border-radius: 6px;
      margin:0px;
      padding:6px 12px;
      border: 2px solid;
      font-size:14px;
      color:#143361;
      &:hover{ text-decoration:none !important;
      color: #fff;
      background-color: #143361;
    }
      &:focus{
        outline:none;
      }
    }
  }