<h1>Capco Members Data</h1>
<div class="scroll-bar">
  <h3>Please select the records to display the membersData</h3>
  <select [(ngModel)]="recordsPerPage" (change)="changeDropdown();changeNumberPageRow()">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Company</th>
        <th>Date Entry</th>
        <th>Org Number</th>
        <th>Address_1</th>
        <th>City</th>
        <th>Zip</th>
        <th>Geo</th>
        <th>Pan</th>
        <th>Pin</th>
        <th>Status</th>
        <th>Fee</th>
        <th>Guid</th>
        <th>Date Exit</th>
        <th>Date First</th>
        <th>Date Recent</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of membersData">
        <td>{{member.id}}</td>
        <td>{{member.name}}</td>
        <td>{{member.phone}}</td>
        <td>{{member.email}}</td>
        <td>{{member.company}}</td>
        <td>{{member.date_entry}}</td>
        <td>{{member.org_num}}</td>
        <td>{{member.address_1}}</td>
        <td>{{member.city}}</td>
        <td>{{member.zip}}</td>
        <td>{{member.geo}}</td>
        <td>{{member.pan}}</td>
        <td>{{member.pin}}</td>
        <td>{{member.status}}</td>
        <td>{{member.fee}}</td>
        <td>{{member.guid}}</td>
        <td>{{member.date_exit}}</td>
        <td>{{member.date_first}}</td>
        <td>{{member.date_recent}}</td>
        <td>{{member.url}}</td>
        <button class="submit" type="submit" (click)="postData(member.id,member.status)">Submit</button>
      </tr>
    </tbody>
  </table>
</div>

<app-pagination *ngIf="totalRecords>10" [totalRecords]="totalRecords" [recordsPerPage]="recordsPerPage"
  (pageChange)="displayActivePage($event)">
</app-pagination>