table{
    border: 10px solid #2c3e50;
    text-align: center;
    width: 100%;
    table-layout: fixed;
    thead {
        th {
            background-color: #bdc3c7;
            position: sticky;
            top: 0;
        }
    }
    tbody{
        min-height: 100px;
        min-width: 100px;
        overflow: auto;
        background-color: #436899;
        .submit{
            background-color: skyblue;
            padding:5%;
            text-align: center;
            margin-top:90%;
        }
    }
    td{
        overflow-wrap: break-word;
    }
}

h3 {
    float: left;
}
select{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.scroll-bar{
    max-height: 80vh;
    overflow: auto;
}


